* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
body {
    background: #0f172a;

}
#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#login-section {
    color: white;
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 100%, 0.5);
    border-radius: 50px;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    transition: all;
}

h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 10px 0;
    max-width: 550px;
    border-bottom: 2px solid white;
    transition: all;
}

.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 25px 0 5px;
    color: hsl(0, 0%, 100%);
}
button {
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all;
}
button:hover {
    background-color: hsl(240, 1%, 35%);
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlink {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
.navlink li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.navlink li a:hover {
    color: rgb(145, 144, 144);
    text-shadow: 0 0 10px;
}

.logo {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.25px;
}

.logo a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.logo a:hover {
    color: rgb(248, 95, 95);
    text-shadow: 0 0 10px;
}

#squads {
    background-color: #0c152b;
}

#note {
    color: red;
}
#squadTable {
    display: none;
}
table {
    border: 1px solid white;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

.container {
    width: 500px;
    height: 300px;
    position: relative;
}
#team-background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.team {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: 100%;
    padding: 20px;
    top: 40%;
    left: 65%;
    transform:translateX(-50%);
    z-index: 1;
}

.player-slot {
    width: 90px;
    height: 110px;
    background: none;
    border: none;
    border-radius: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.player-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}

.player-id {
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    z-index: 2;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.innerModal {
    background: #0c152b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.dropdown-search {
    margin-bottom: 20px;
}

#player-search {
    color: black;
    width: 200px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 14px;
    margin-bottom: 10px;
}

#dropdown {
    width: 200px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 14px;
}

.modal.open {
    display: flex;
}
#submitTeam {
    position: relative;
    z-index: 2;
}

.fixtures {
    margin-top: 50px;
}

.container2B {
  background: #070b37;
  max-width: 700px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#dhawan {
    height: 250px;
    width: auto;
    overflow: none;
}

#lyon {
    height: 350px;
    width: auto;
}

#submitTeam {
    align-items: center;
}