<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy WorldT20</title>
    <link rel="icon" th:href="@{/images/icon.jpeg}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav>
        <div class="logo"><a th:href="@{/index}">Fantasy T20WC</a></div>
        <ul class="navlink">
        <li><a th:href="@{/teambuilder}" >Team Builder</a></li>
        <li><a th:href="@{/yourteam}">Your Team</a></li>
        <li><a th:href="@{/leaderboard}">League Leaderboard</a></li>
        </ul>
    </nav>
    <div class="container2B">
    <h2>Welcome to Fantasy World T20.</h2>
    <p>Create a team from scratch and compete against your friends!</p>
    </div>
    <div id="images">
    <img id="lyon" th:src="@{/images/cricket-lyon.png}">
    <img id="dhawan" th:src="@{/images/cricket-dhawan.png}">
    </div>
    <div class="container2B">
        <h2>Point System: </h2>
        <h3>Scoring Rules</h3><br>
        <h4>Runs</h4>
        <ul>
            <li>0 → -1</li>
            <li>20–30 → +1</li>
            <li>30–50 → +2</li>
            <li>50–100 → +3</li>
            <li>100+ → +5</li>
        </ul>
        <br>
        <h4>Wickets</h4>
        <ul>
            <li>1 → +1</li>
            <li>2 → +2</li>
            <li>3 → +3</li>
            <li>4+ → +5</li>
        </ul>
        <br>
        <h4>Catches</h4>
        <ul>
            <li>1 → x1</li>
        </ul>
    </div>
</body>
</html>